{% extends 'pos/layout.html' %}
{% load static %}
{% block content %}
<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->

  <!-- partial -->
  <div class="container-fluid page-body-wrapper">

    <!-- partial -->
    <!-- partial:partials/_sidebar.html -->
    {% block navbar %}
    {% include "pos/nav.html" %}
    {% endblock %}

    <div class="main-panel card">
      <form action="{% url 'sale' %}" method="post" enctype="multipart/form-data" class="container">
        {% csrf_token %}
        <h1 class="text-center my-4 fw-bold">Sale</h1>

        <div class="mb-3 form-group">
          <label for="Customer" class="form-label fw-bold fs-5">Customer Name:</label>
          <a class="ms-2" data-bs-toggle="modal" data-bs-target="#PModal">
            <i class="fas fa-plus"></i>
          </a>
          <a class="ms-2" data-bs-toggle="modal" data-bs-target="#BuscaProductoModal">
            <i class="fas fa-eye"></i>
          </a>
          <input type="text" id="Customer" name="Customer" required class="form-control mt-2">
        </div>

        <div class="mb-3 form-group">
          <label for="product" class="form-label fw-bold fs-5">Product:</label>
          <a class="ms-2" data-bs-toggle="modal" data-bs-target="#PModal">
            <i class="fas fa-plus"></i>
          </a>
          <a class="ms-2" data-bs-toggle="modal" data-bs-target="#BuscaProductoModal">
            <i class="fas fa-eye"></i>
          </a>
          <select class="form-select mt-2" id="product" aria-label="Select product">
            <option selected>Select an option</option>
          </select>
        </div>

        <div class="mb-3 form-group">
          <label for="quantity" class="form-label fw-bold fs-5">Quantity:</label>
          <a class="ms-2" data-bs-toggle="modal" data-bs-target="#PModal">
            <i class="fas fa-plus"></i>
          </a>
          <a class="ms-2" data-bs-toggle="modal" data-bs-target="#BuscaProductoModal">
            <i class="fas fa-eye"></i>
          </a>
          <input type="number" id="quantity" name="quantity" required class="form-control mt-2">
        </div>

        <div class="mb-3 form-group">
          <label for="sub_total" class="form-label fw-bold fs-5">Sub_total:</label>
          <a class="ms-2" data-bs-toggle="modal" data-bs-target="#PModal">
            <i class="fas fa-plus"></i>
          </a>
          <a class="ms-2" data-bs-toggle="modal" data-bs-target="#BuscaProductoModal">
            <i class="fas fa-eye"></i>
          </a>
          <input readonly type="number" class="form-control mt-2" id="sub_total" name="sub_total"
            aria-describedby="sub_total">
        </div>

        <div class="mb-3 form-group">
          <label for="discount" class="form-label fw-bold fs-5">Discount:</label>
          <a class="ms-2" data-bs-toggle="modal" data-bs-target="#labModal">
            <i class="fas fa-plus"></i>
          </a>
          <select class="form-select mt-2" id="discount" aria-label="Select discount">
            <option selected>Select an option</option>
          </select>
        </div>

        <div class="mb-3 form-group">
          <label for="total" class="form-label fw-bold fs-5">Total:</label>
          <a class="ms-2" data-bs-toggle="modal" data-bs-target="#PModal">
            <i class="fas fa-plus"></i>
          </a>
          <a class="ms-2" data-bs-toggle="modal" data-bs-target="#BuscaProductoModal">
            <i class="fas fa-eye"></i>
          </a>
          <input readonly type="number" name="total" class="form-control mt-2" id="total" aria-describedby="Total">
        </div>

        <div class="mb-3 form-group">
          <label for="money_r" class="form-label fw-bold fs-5">Money Received:</label>
          <a class="ms-2" data-bs-toggle="modal" data-bs-target="#PModal">
            <i class="fas fa-plus"></i>
          </a>
          <a class="ms-2" data-bs-toggle="modal" data-bs-target="#BuscaProductoModal">
            <i class="fas fa-eye"></i>
          </a>
          <input type="number" id="money_r" name="money_r" required class="form-control mt-2">
        </div>

        <div class="mb-3 form-group">
          <label for="money_change" class="form-label fw-bold fs-5">Money Change:</label>
          <a class="ms-2" data-bs-toggle="modal" data-bs-target="#PModal">
            <i class="fas fa-plus"></i>
          </a>
          <a class="ms-2" data-bs-toggle="modal" data-bs-target="#BuscaProductoModal">
            <i class="fas fa-eye"></i>
          </a>
          <input readonly type="number" class="form-control mt-2" id="money_change" name="money_change"
            aria-describedby="money_change">
        </div>

        <div class="d-flex justify-content-center my-5">
          <button id="almacenar_compra" class="btn btn-primary" type="button">Add sale</button>
        </div>
      </form>

      <hr>

      <div class="mt-5">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Customer</th>
              <th scope="col">Product</th>
              <th scope="col">Quantity</th>
              <th scope="col">Sub_total</th>
              <th scope="col">Discount</th>
              <th scope="col">Total</th>
              <th scope="col">Money Received</th>
              <th scope="col">Money Change</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
              <td>the Bird</td>
              <td>@twitter</td>
          </tbody>
        </table>
      </div>
    </div>



  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
{% endblock %}