{% extends 'pos/layout.html' %}
{% load static %}
{% block content %}

<!-- partial -->
{% block navbar %}
{% include "pos/nav.html" %}
{% endblock %}

    <div class="content">
      
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Create User</button>
        </form>
      <hr>

      <div class="mt-5">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Firstname</th>
                <th scope="col">Lastname</th>
              </tr>
            </thead>
            <tbody>
                {% for user in users %}
              <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
            </tr>
                {% empty %}
            <tr>
                <td colspan="4">No users found.</td>
            </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </div>


{% endblock %}